{% extends "base.html" %}

{% block content %}
<!-- Contenedor del formulario oculto por defecto -->
<h4 class="titulo">Datos cliente:</h4>
<div id="formContainer">
    <form action="/addCliente" method="post">
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" required>

        <label for="phone">Numero de telefono:</label>
        <input type="number" name="phone" id="phone" required>

        <label for="email">Correo:</label>
        <input type="email" name="email" id="email" required>

        <label for="date">Fecha:</label>
        <input type="date" name="date" id="date" required>

        <label for="tipo">Tipo de vehiculo:</label>
        <select name="tipo" id="tipo" required>
            <option value="auto">Auto</option>
            <option value="moto">Moto</option>
        </select>

        <label for="marca">Marca:</label>
        <input type="text" name="marca" id="marca" required>

        <label for="modelo">Modelo:</label>
        <input type="text" name="modelo" id="modelo" required>

        <label for="OpcionesTrabajo">Trabajo:</label>
        <select name="OpcionesTrabajo" id="OpcionesTrabajo" required>
            {<option value="Mantencion completa">Mantencion completa</option>
            <option value="Cambio aceite">Cambio aceite</option>
            <option value="Scanner">Scanner</option>
        </select>

        <label for="motivo">Detalle:</label>
        <textarea name="motivo" id="motivo" required></textarea>

        <button type="submit">Ingresar cliente</button>
    </form>
</div>

{% endblock %}