{% extends "base.html" %}

{% block content %}

<table class="table table-dark">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Fecha</th>
            <th>Detalle</th>
            <th>Notificar</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.date }}</td>
                <td><button type="button" class="btn-primary" data-toggle="modal" data-target="#detailModal" data-client='{{ client|tojson }}' data-vehiculos='{{ vehiculos|tojson }}'>Ver detalle</button></td>                
                <td><button type="button"><img src="{{ url_for('static', filename='images/wsplogo.png') }}" alt="Banner" width="30" height="30"></button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Aquí se llenará el detalle del cliente -->
            </div>
        </div>
    </div>
</div>

{% endblock %}