/* estilo body */

/* Estilo general para el body */
    /* Fondo de la página con gradiente suave */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh; 
    }
    html {
        height:100%;
    }

    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        /* background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%); */
        /* background-image: linear-gradient(-60deg, #ffd550 50%, #ff6d50 50%); */
        background-image: linear-gradient(-60deg, #50a9ff 50%, #6250ff 50%);
        bottom: 0;
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }

    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .bg3 {
        animation-duration: 5s;
    }

    .content {
        background-color: rgba(255, 255, 255, .8);
        border-radius: .25em;
        box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
        box-sizing: border-box;
        left: 50%;
        padding: 10vmin;
        position: fixed;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-family: monospace;
    }

    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }

        100% {
            transform: translateX(25%);
        }
    }

    /* Estilo para el contenedor del formulario */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    /* Estilo para el formulario específico */
    .formularioCliente {
        width: 80%;
        max-width: auto; /* Establece un ancho máximo para el formulario */
        margin: 0 auto; /* Centra el formulario horizontalmente */
    }


/* Nav bar style */

    /* Estilo general para la navbar */
    .navbar {
        display: flex;
        justify-content: left; /* Distribuye los elementos de manera uniforme */
        align-items: center;
        /* background-color: #ffffff; Fondo blanco para mantener la consistencia con el formulario */
        padding: 10px 20px; /* Añade un poco de espacio interno */
        gap: 20px; /* Espacio entre los enlaces de la navbar */
        width: 100%; /* Ocupa todo el ancho disponible */
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    }

    /* Estilo para los enlaces de la navbar */
    .navbar a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    /* Estilo para el logo dentro de la navbar */
    .logonav {
        display: flex;
        align-items: center; /* Alinea verticalmente el logo */
    }

    /* Estilo para el hover en los enlaces de la navbar */
    .navbar a:hover {
        color: #000; /* Texto en negro al pasar el mouse */
    }


    /* Estilo para el logo dentro de la navbar */
    .logonav {
        display: flex;
        align-items: center; /* Alinea verticalmente el logo */
    }

    /* Estilo para el contenedor del logo */
    .logo {
        display: flex;
        align-items: center;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: #000; /* Color morado oscuro */
    }

    /* Estilo para las letras del logo */
    .letter {
        display: inline-block;
        position: relative;
        padding: 0 0px;
    }

    /* Letra M */
    .m {
        background: linear-gradient(to bottom right, #000, #000); /* Gradiente de color */
        -webkit-background-clip: text; /* Prefijo para WebKit/Blink (Chrome, Safari, Opera) */
        -webkit-text-fill-color: transparent; /* Prefijo para WebKit/Blink */
        background-clip: text; /* Propiedad estándar */
    }
    

    /* Letra C */
    .c {
        background: linear-gradient(to bottom right, #000, #000); /* Gradiente de negro a negro (puedes cambiar los colores) */
        -webkit-background-clip: text; /* Prefijo para WebKit/Blink (Chrome, Safari, Opera) */
        -webkit-text-fill-color: transparent; /* Prefijo para WebKit/Blink */
        background-clip: text; /* Propiedad estándar */
    }
    

    /* Estilo para el hover en los enlaces de la navbar */
    .navbar a:hover {
        background-color: #f4f4f4; /* Fondo en gris claro al pasar el mouse */
        color: #000; /* Texto en negro al pasar el mouse */
    }

/* Formulario de ingreso de cliente */

    .tituloform {
        color: #000;
        font-size: x-large;
        margin-bottom: 0;
    }

    /* Estilo general para el formulario */
    .formularioCliente {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
        gap: 20px; /* Espacio entre columnas */
        width: 80%;
        max-width: 800px; /* Establece un ancho máximo para el formulario */
        margin: 0 auto; /* Centra el formulario horizontalmente */
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff; /* Fondo blanco para el formulario */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Estilo para los contenedores de campo */
    .campo {
        width: 80%;
        margin-bottom: 10px; /* Espacio entre cada campo */
    }

    /* Estilo para las etiquetas en la primera columna */
    .formularioCliente .columna1 label {
        font-weight: bold;
        color: #000; /* Color morado oscuro */
        margin-bottom: 5px;
        display: block; /* Asegura que las etiquetas ocupen toda la línea */
    }

    /* Estilo para las entradas de texto en la primera columna */
    .formularioCliente .columna1 input[type="text"],
    .formularioCliente .columna1 input[type="number"],
    .formularioCliente .columna1 input[type="email"],
    .formularioCliente .columna1 input[type="date"],
    .formularioCliente .columna1 select,
    .formularioCliente .columna1 textarea {
        padding: 10px;
        border-radius: 5px;
        background-color: #fff; /* Fondo muy suave en rosa pálido */
        border: 1px solid #000; /* Borde en rosa claro */
        color: #333; /* Texto en color gris oscuro para buena legibilidad */
        transition: border-color 0.3s ease-in-out;
        width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
    }

    /* Estilo para cambiar el borde al enfocar en la primera columna */
    .formularioCliente .columna1 input[type="text"]:focus,
    .formularioCliente .columna1 input[type="number"]:focus,
    .formularioCliente .columna1 input[type="email"]:focus,
    .formularioCliente .columna1 input[type="date"]:focus,
    .formularioCliente .columna1 select:focus,
    .formularioCliente .columna1 textarea:focus {
        border-color: #fff; /* Borde en rojo suave al enfocar */
    }

    /* Estilo para las etiquetas en la segunda columna */
    .formularioCliente .columna2 label {
        font-weight: bold;
        color: #000; /* Color morado oscuro */
        margin-bottom: 5px;
        display: block; /* Asegura que las etiquetas ocupen toda la línea */
    }

    /* Estilo para las entradas de texto en la segunda columna */
    .formularioCliente .columna2 input[type="text"],
    .formularioCliente .columna2 input[type="number"],
    .formularioCliente .columna2 input[type="email"],
    .formularioCliente .columna2 input[type="date"],
    .formularioCliente .columna2 select,
    .formularioCliente .columna2 textarea
    .formularioCliente .columna2 img {
        padding: 10px;
        border-radius: 5px;
        background-color: #fff; /* Fondo muy suave en rosa pálido */
        border: 1px solid #000; /* Borde en rosa claro */
        color: #333; /* Texto en color gris oscuro para buena legibilidad */
        transition: border-color 0.3s ease-in-out;
        width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
    }

    /* Estilo para cambiar el borde al enfocar en la segunda columna */
    .formularioCliente .columna2 input[type="text"]:focus,
    .formularioCliente .columna2 input[type="number"]:focus,
    .formularioCliente .columna2 input[type="email"]:focus,
    .formularioCliente .columna2 input[type="date"]:focus,
    .formularioCliente .columna2 select:focus,
    .formularioCliente .columna2 textarea:focus {
        border-color: #ff7f7f; /* Borde en rojo suave al enfocar */
        
    }

    /* Estilo para el botón */
    .botonIngreso {
        grid-column: span 2; /* Ocupa las dos columnas */
        padding: 10px;
        border: solid 1px #000;
        border-radius: 5px;
        background-color: #000; /* Fondo en rosa suave */
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;
        transition: background-color 0.3s ease;
    }

    .botonIngreso:hover {
        background-color: #fff;
        color: #000;
    }

    .botones-contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Asegúrate de que ocupe toda la altura de la pantalla */
        flex-direction: row; /* Coloca los botones en unafila */
        gap: 25px;
    }
    
    .botonIngreso2 {
        padding: 20px 40px; /* Aumenta el tamaño de los botones */
        border: solid 1px #000;
        border-radius: 5px;
        background-color: #7bafd1;
        color: #fff;
        font-size: 20px; /* Aumenta el tamaño del texto */
        cursor: pointer;
        text-align: center;
        margin: 0 0; /* Espaciado entre los botones */
        transition: background-color 0.3s ease;
    }
    
    .botonIngreso2:hover {
        color: #000;
        background-color: #50e67d;
    }
    
    .columna2b .campo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .mecanicoFoto {
        max-width: 100%;
        height: auto;
    }

/* Estilo para la tabla clientes */

    /* Estilo general para la tabla */
    .table {
        width: 100%; /* Utiliza todo el ancho disponible */
        border-collapse: collapse; /* Asegura que los bordes de las celdas se fusionen */
        margin: 20px 0; /* Espacio vertical arriba y abajo de la tabla */
        border-radius: 10px; /* Bordes redondeados */
        overflow: hidden; /* Oculta el desbordamiento para bordes redondeados */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    /* Estilo para los encabezados de la tabla */
    .table thead {
        background-color: #000; /* Color morado oscuro para los encabezados */
        color: #fff; /* Texto blanco para contraste */
    }

    .table th {
        padding: 10px 15px; /* Espacio interno en los encabezados */
        text-align: left; /* Alinea el texto a la izquierda */
    }

    /* Estilo para el cuerpo de la tabla */
    .table tbody tr {
        background-color: #fef5f5; /* Fondo muy suave en rosa pálido */
    }

    .table tbody td {
        padding: 10px 15px; /* Espacio interno en las celdas */
        border: 1px solid #fff; /* Borde en rosa claro */
        color: #fff; /* Texto en gris oscuro para buena legibilidad */
    }

    /* Estilo para las filas pares del cuerpo de la tabla */
    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9; /* Fondo en gris claro para filas pares */
    }

    /* Estilo para el hover en las filas de la tabla */
    .table tbody tr:hover {
        background-color: #f1f1f1; /* Fondo en gris más oscuro al pasar el mouse */
    }

    /* Estilo para los botones en la tabla */
    .btn-primary {
        padding: 8px 12px; /* Espacio interno en el botón */
        border: none;
        border-radius: 5px;
        background-color: #000; /* Fondo en rosa suave */
        color: white;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    /* Estilo para el hover en los botones */
    .btn-primary:hover {
        background-color: #fff;
        color: #000;
    }

/* Modal */

    .modal-body .table th,
    .modal-body .table td strong {
        color: #000; /* Color morado oscuro */
    }

    .modal-body .table {
        color: #333; /* Color gris oscuro para el texto general */
    }


/* Estilos para las tarjetas de servicios */

    /* Estilo para el contenedor principal */
    .container {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    /* Estilo para el contenedor de las tarjetas */
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
        gap: 20px; /* Espacio entre las tarjetas */
        width: 100%;
        max-width: 1200px; /* Ancho máximo para el contenedor */
    }

    /* Estilo para cada tarjeta */
    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        background-color: #f8f9fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0; /* Elimina el margen para la grilla */
    }

    .card-title {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .card-description {
        font-size: 1em;
        margin-bottom: 10px;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .card-time, .card-value {
        font-size: 0.9em;
    }

    .card-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }


